extends ../loggedLayout

block content
    br
    br
    h1 Wniosek o delegację
    p
    form(name="auto", action="/wniosek_wyjazdowyNew", method="post")
        .container
          .form-group
            label
              | Cel wyjazdu:
            input.form-control(type='text', name='Cel')
          .form-group
            label
              | Uzasadnienie wyjazdu:
            input.form-control(type='text', name='Uzasadnienie')
          .form-group
            label
              | Ośrodek przyjmujący, Organizator:
            input.form-control(type='text', name='Osrodek')
            .form-group
          .form-group
            label
              .form-group
                label
                  | Kraj wyjazdu:
                select.form-control
                  option(value='Polska', name='Polska')
                    | Polska
                  option(value='Stany Zjednoczone', name='Stany_zjednoczone')
                    | Stany Zjednoczone
                  option(value='Francja', name='Francja')
                    | Francja
                  option(value='Niemcy', name='Niemcy')
                    | Niemcy
              .form-group
                label
                  | Miejscowość:
                input.form-control(type='text', name='Miejscowosc')
          .form-group
              | Data wyjazdu:
            input.form-control(type='text', placeholder='DD-MM-RRRR', name='Data_wyjazdu')
          .form-group
              | Data powrotu:
            input.form-control(type='text', placeholder='DD-MM-RRRR', name='Data_powrotu')
          .form-group
            label
              | Środki lokomocji:
            input.form-control(type='text', name='Srodki_lokomocji')
          .form-group
            label
              | Źrodło finansowania:
            input.form-control(type='text', name='Zrodlo_finansowania')
          table.table-bordered
            tbody
              tr
                th.tg-031e(style='padding-left:5px; padding-right:5px')
                  | Diety
                  br
                th.tg-031e(style='padding-left:5px; padding-right:5px')
                  | Przejazd
                  br
                th.tg-031e(style='padding-left:5px; padding-right:5px') Zakwaterowanie
                th.tg-031e(style='padding-left:5px; padding-right:5px') Wyżywienie
                th.tg-031e(style='padding-left:5px; padding-right:5px')
                  | Opłata konferencyjna
                  br
                th.tg-031e(style='padding-left:5px; padding-right:5px') Inne
              tr(style='height:40px')
                td.tg-031e
                    input.form-control(type='text', name='Diety')
                td.tg-031e
                    input.form-control(type='text', name='Przejazd')
                td.tg-031e
                    input.form-control(type='text', name='Zakwaterowanie')
                td.tg-031e
                    input.form-control(type='text', name='Wyzywienie')
                td.tg-031e
                    input.form-control(type='text', name='Oplata_konferencyjna')
                td.tg-031e
                    input.form-control(type='text', name='Inne')
          br
          button.btn.btn-default(type='submit')
            | Wyślij wniosek