extends ../loggedLayout

block content
    br
    br
    .container
        h3
            | Oświadczenie
          .form-group
            label
              | Podaj numer identyfikacyjny delegacji:     
            input.form-control(type='text')  
          button.btn.btn-default(type='submit') Wystaw potwierdzenie
          br