extends layout

block content
    br
    br
    h1 Logowanie
        p.lead Użyj danych do zalogowania z systemu UsosWeb
    p
    form.form-horizontal(action='/', method="post", id="loginForm")
        fieldset
            // Text input
            .control-group
              label.control-label(for='textinput-0') Identyfikator
              |   
              .controls
                input.form-control(name='User', placeholder='', type='text', style='width:200px')
            // Password input
            .control-group
              label.control-label(for='passwordinput-0') Hasło
              |   
              .controls
                input.form-control(name='Password', placeholder='', type='password', style='width:200px')
            .control-group
            // Button
            .control-group
              label.control-label(for='singlebutton-0')
              |   
              .controls
                button.btn.btn-default(type='submit')  Zaloguj