doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Turbo Delegacja!
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
    script(src='/javascripts/modernizr-2.6.2.js')
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top(style="height: 110px")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img(border='0', alt='Turbo Delegacja', src='/images/logo.png')
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/logged')
                font(size='5') Strona glowna
            li
               a(href='/logout') 
                 font(size='5') Wyloguj
            li
              a(href='/about') 
                font(size='5') O nas
            li
              a(href='/contact') 
                font(size='5') Kontakt
    .container.body-content(style="margin-top: 100px")
      block content
      hr
      footer
        p &copy; 2015 - #{year} Turbo Delegacja ver #{ver}
    block scripts
