doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Turbo Delegacja!
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
    script(src='/javascripts/modernizr-2.6.2.js')
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top(style="height: 110px")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img(border='0', alt='Turbo Delegacja', src='/images/logo.png')
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/logged')
                font(size='5') Strona glowna
            li
               a(href='/logout') 
                 font(size='5') Wyloguj
            li
              a(href='/about') 
                font(size='5') O nas
            li
              a(href='/contact') 
                font(size='5') Kontakt

    p       
    .container(style="margin-top: 120px")
      .row
        .container.body-content(style="float:right; width: 75%")
            block content
        .col-sm-3.col-md-3(style="width: 25%")
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                    span.glyphicon.glyphicon-folder-close
                    | Panel osobisty
              #collapseOne.panel-collapse.collapse.in
                .panel-body
                  table.table
                    tr
                      td
                        span.glyphicon.glyphicon-pencil.text-primary
                        a(href='/moje_wnioski') Moje wnioski
                    tr
                      td
                        span.glyphicon.glyphicon-flash.glyphicon-usd
                        a(href='/moje_auta') Moje auta
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-info
                        a(href='/moje_historia') Moja historia  
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-success
                        a(href='/moje_dane') Moje dane
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-success
                        a(href='/moje_polecenia') Polecenia wyjazdu
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-success
                        a(href='/moje_podpiecia') Wnioski o auto
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-success
                        a(href='/moje_oswiadczenia') Moje oswiadczenia
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-success
                        a(href='/moje_przebiegi') Moje przebiegi
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                    span.glyphicon.glyphicon-folder-close
                    | Wnioski
              #collapseTwo.panel-collapse.collapse.in
                .panel-body
                  table.table
                    tr
                      td
                        span.glyphicon.glyphicon-pencil.text-primary
                        a(href='/wniosek_wyjazdowy') Wniosek o delegację
                    tr
                      td
                        span.glyphicon.glyphicon-file.text-info
                        a(href='/wniosek_zaliczka') Wniosek o zaliczkę
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                    span.glyphicon.glyphicon-file
                    | Pozostałe
              #collapseThree.panel-collapse.collapse
                .panel-body
                  table.table
                    tr
                      td
                        span.glyphicon.glyphicon-usd
                        a(href='/wniosek_auto_przebieg') Przebieg auta
                    tr
                      td
                        span.glyphicon.glyphicon-flash.text-success
                        a(href='/wniosek_potwierdzenie') Potwierdzenie/Oświadczenie
            - var sessionExist = (session["Ranga"] != "1");
            if sessionExist
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                        span.glyphicon.glyphicon-file
                        | Zarządzanie
                  #collapseFour.panel-collapse.collapse
                    .panel-body
                      table.table
                        tr
                          td
                            span.glyphicon.glyphicon-usd
                            a(href='/oczekujace_wnioski') Oczekujące wnioski
                        tr
                          td
                            span.glyphicon.glyphicon-flash.text-success
                            a(href='/oczekujace_polecenia') Polecenia wyjazdu
      hr
      footer
        p &copy; 2015 - #{year} Turbo Delegacja ver #{ver}
    block scripts
