html
  body
    h2
      center
        | UMOWA
        center
    h3
      center
        | dotycz&aogon;ca u&zdot;ywania pojazdu nieb&eogon;d&aogon;cego w&lstrok;asno&sacute;ci&aogon; pracodawcy
        | do cel&oacute;w s&lstrok;u&zdot;bowych (w jazdach zamiejscowych)
        center
    | zawarta w dniu: {data} 
    br
    | pomi&eogon;dzy Politechnika Bia&lstrok;ostock&aogon;, 15-351 Bia&lstrok;ystok, ul. Wiejska 45A, reprezentowan&aogon; przez 
    br
    | {pracodawca}
    br
    | zwan&aogon; dalej Pracodawc&aogon;
    br
    | a {pracownik},
    br
    | zwanym dalej Pracownikiem.
    br
    h3
      center  &sect; 1 
    br
    | Pracownik o&sacute;wiadcza, i&zdot; dysponuje pojazdem: {rodzaj pojazdu}  marki
    br
    | {marka pojazdu} o numerze rejestracyjnym {numer rejestracyjny},
    br
    | o pojemno&sacute;ci silnika {pojemno&sacute;&cacute; silnika} cm3, kt&oacute;rego b&eogon;dzie u&zdot;ywa&lstrok; do podr&oacute;&zdot;y s&lstrok;u&zdot;bowej
    br
    | {czas i miejsce podr&oacute;&zdot;y}.
    h3
      center  &sect; 2 
    br
    | 1. Pracodawca, w zwi&aogon;zku z korzystaniem przez Pracownika z pojazdu do cel&oacute;w s&lstrok;u&zdot;bowych,
    br
    | zobowi&aogon;zuje si&eogon; do zwrotu koszt&oacute;w u&zdot;ywania w/w pojazdu w wysoko&sacute;ci iloczynu przejechanych
    br
    | kilometr&oacute;w przez stawk&eogon; {stawka za kilometr} z&lstrok;/km.
    br
    | 2. Zwrot koszt&oacute;w nast&aogon;pi na podstawie polecenia wyjazdu s&lstrok;u&zdot;bowego nr {nr wyjazdu} z dnia
    br
    | {data} oraz za&lstrok;&aogon;czonej ewidencji przebiegu pojazdu i niniejszej umowy.
    br
    h3
      center  &sect; 3 
    br
    | 1. Pracodawca nie ponosi odpowiedzialno&sacute;ci za uszkodzenia pojazdu, o kt&oacute;rym mowa w &sect; 1
    br
    | posiadanego przez pracownika (tak&zdot;e w przypadku, gdy uszkodzenie powsta&lstrok;o w czasie u&zdot;ywania
    br
    | pojazdu do cel&oacute;w s&lstrok;u&zdot;bowych) i nie ponosi koszt&oacute;w napraw bie&zdot;&aogon;cych, g&lstrok;&oacute;wnych i powypadkowych.
    br
    | 2. Pracodawca nie odpowiada za szkody spowodowane przez Pracownika w zwi&aogon;zku z u&zdot;ywaniem
    br
    | przez Niego pojazdu, o kt&oacute;rym mowa w &sect; 1 do cel&oacute;w s&lstrok;u&zdot;bowych.
    br
    h3
      center  &sect; 4 
    br
    | Umowa zosta&lstrok;a zawarta na okres od dnia {data rozpocz&eogon;cia} do dnia {data zako&nacute;czenia}
    h3
      center  &sect; 5 
    br
    | Umow&eogon; sporz&aogon;dzono w dw&oacute;ch egzemplarzach, po jednym dla ka&zdot;dej ze stron.
    br
    br
    | {data i podpis pracownika}
    br
    | (data i podpis pracownika)
