html
  body
    h2
      center
        | UMOWA
        center
    h3
      center
        | dotycząca używania pojazdu niebędącego własnością pracodawcy
        | do celów służbowych (w jazdach zamiejscowych)
        center
    | zawarta w dniu: {data} 
    br
    | pomiędzy Politechnika Białostocką, 15-351 Białystok, ul. Wiejska 45A, reprezentowaną przez 
    br
    | {pracodawca}
    br
    | zwaną dalej Pracodawcą
    br
    | a {pracownik},
    br
    | zwanym dalej Pracownikiem.
    br
    h3
      center  § 1 
    br
    | Pracownik oświadcza, iż dysponuje pojazdem: {rodzaj pojazdu}  marki
    br
    | {marka pojazdu} o numerze rejestracyjnym {numer rejestracyjny},
    br
    | o pojemności silnika {pojemność silnika} cm3, którego będzie używał do podróży służbowej
    br
    | {czas i miejsce podróży}.
    h3
      center  § 2 
    br
    | 1. Pracodawca, w związku z korzystaniem przez Pracownika z pojazdu do celów służbowych,
    br
    | zobowiązuje się do zwrotu kosztów używania w/w pojazdu w wysokości iloczynu przejechanych
    br
    | kilometrów przez stawkę {stawka za kilometr} zł/km.
    br
    | 2. Zwrot kosztów nastąpi na podstawie polecenia wyjazdu służbowego nr {nr wyjazdu} z dnia
    br
    | {data} oraz załączonej ewidencji przebiegu pojazdu i niniejszej umowy.
    br
    h3
      center  § 3 
    br
    | 1. Pracodawca nie ponosi odpowiedzialności za uszkodzenia pojazdu, o którym mowa w § 1
    br
    | posiadanego przez pracownika (także w przypadku, gdy uszkodzenie powstało w czasie używania
    br
    | pojazdu do celów służbowych) i nie ponosi kosztów napraw bieżących, głównych i powypadkowych.
    br
    | 2. Pracodawca nie odpowiada za szkody spowodowane przez Pracownika w związku z używaniem
    br
    | przez Niego pojazdu, o którym mowa w § 1 do celów służbowych.
    br
    h3
      center  § 4 
    br
    | Umowa została zawarta na okres od dnia {data rozpoczęcia} do dnia {data zakończenia}
    h3
      center  § 5 
    br
    | Umowę sporządzono w dwóch egzemplarzach, po jednym dla każdej ze stron.
    br
    br
    | {data i podpis pracownika}
    br
    | (data i podpis pracownika)
