html
  body
    | {imi&eogon; i nazwisko Pracownika}
    br
    | (imi&eogon; i nazwisko Pracownika)
    br
    br
    | {jednostka organizacyjna, nr telefonu}
    br
    | (jednostka organizacyjna, nr telefonu)
    br
    br
    h3
      center O&Sacute;WIADCZENIE
    br
    br
    | W zwi&aogon;zku z wyjazdem krajowym/zagranicznym* w okresie od {data pocz&aogon;tkowa} do {data ko&nacute;cowa}, obejmuj&aogon;cym
    br
    | pobyt o charakterze s&lstrok;u&zdot;bowym i prywatnym, o&sacute;wiadczam, &zdot;e znane mi s&aogon; zasady delegowania oraz
    br
    | rozliczania koszt&oacute;w zwi&aogon;zanych z podr&oacute;&zdot;ami s&lstrok;u&zdot;bowymi pracownik&oacute;w Politechniki Bia&lstrok;ostockiej na
    br
    | obszarze kraju i poza jego granicami okre&sacute;lone w Zarz&aogon;dzeniu Nr 219 Rektora Politechniki Bia&lstrok;ostockiej
    br
    | z dnia 11 pa&zacute;dziernika 2013 roku.
    br
    | Przyjmuj&eogon; odpowiedzialno&sacute;&cacute; za zdarzenia losowe i wynik&lstrok;e st&aogon;d szkody mog&aogon;ce mie&cacute; miejsce w okresie
    br
    | pobytu prywatnego, tj. od dnia {data pocz&aogon;tkowa} do dnia {data ko&nacute;cowa} oraz zrzekam si&eogon; wszelkich roszcze&nacute;
    br
    | wobec Politechniki Bia&lstrok;ostockiej z tym zwi&aogon;zanych.
    br
    br
    br
    | Bia&lstrok;ystok, dnia {data}
    br
    br
    br
    p(align='right') {podpis Pracownkia}
    p(align='right') (podpis Pracownkia)
    br
    br
    | *niepotrzebne skre&sacute;li&cacute;
