html
  body
    | {pracownik}
    br
    |     (imię i nazwisko Pracownika)
    br
    br
    |     {jednostka}, {jednostka_numer}
    br
    |     (jednostka organizacyjna, nr telefonu)
    br
    br
    h3
      center OŚWIADCZENIE
    br
    br
    |     W związku z wyjazdem krajowym/zagranicznym* w okresie od {data_wyjazdu} do {data_powrotu}, obejmującym
    br
    |     pobyt o charakterze służbowym i prywatnym, oświadczam, że znane mi są zasady delegowania oraz
    br
    |     rozliczania kosztów związanych z podróżami służbowymi pracowników Politechniki Białostockiej na
    br
    |     obszarze kraju i poza jego granicami określone w Zarządzeniu Nr 219 Rektora Politechniki Białostockiej
    br
    |     z dnia 11 października 2013 roku.
    br
    |     Przyjmuję odpowiedzialność za zdarzenia losowe i wynikłe stąd szkody mogące mieć miejsce w okresie
    br
    |     pobytu prywatnego, tj. od dnia {data_wyjazdu} do dnia {data_powrotu} oraz zrzekam się wszelkich roszczeń
    br
    |     wobec Politechniki Białostockiej z tym związanych.
    br
    br
    br
    |     Białystok, dnia {data_wystawienia}
    br
    br
    br
    p(align='right') {podpis}
    p(align='right') (podpis Pracownkia)
    br
    br
    |     *niepotrzebne skreślić
