html
  body
    | {imiê i nazwisko Pracownika}
    br
    | (imiê i nazwisko Pracownika)
    br
    br
    | {jednostka organizacyjna, nr telefonu}
    br
    | (jednostka organizacyjna, nr telefonu)
    br
    br
    h3
      center OŒWIADCZENIE
    br
    br
    | W zwi¹zku z wyjazdem krajowym/zagranicznym* w okresie od {data pocz¹tkowa} do {data koñcowa}, obejmuj¹cym
    br
    | pobyt o charakterze s³u¿bowym i prywatnym, oœwiadczam, ¿e znane mi s¹ zasady delegowania oraz
    br
    | rozliczania kosztów zwi¹zanych z podró¿ami s³u¿bowymi pracowników Politechniki Bia³ostockiej na
    br
    | obszarze kraju i poza jego granicami okreœlone w Zarz¹dzeniu Nr 219 Rektora Politechniki Bia³ostockiej
    br
    | z dnia 11 pa&zacute;dziernika 2013 roku.
    br
    | Przyjmujê odpowiedzialnoœæ za zdarzenia losowe i wynik³e st¹d szkody mog¹ce mieæ miejsce w okresie
    br
    | pobytu prywatnego, tj. od dnia {data pocz¹tkowa} do dnia {data koñcowa} oraz zrzekam siê wszelkich roszczeñ
    br
    | wobec Politechniki Bia³ostockiej z tym zwi¹zanych.
    br
    br
    br
    | Bia³ystok, dnia {data}
    br
    br
    br
    p(align='right') {podpis Pracownkia}
    p(align='right') (podpis Pracownkia)
    br
    br
    | *niepotrzebne skreœliæ
