html
  body
    br
    br
    | {jednostka}
    br
    | (jednostka organizacyjna)
    br
    br
    br
    | {danePracownika}
    br
    | (imię i nazwisko Pracownika)
    br
    br
    br
    br
    center
      h3 EWIDENCJA PRZEBIEGU POJAZDU
      | do polecenia wyjazdu służbowgo nr {numerPolecenia} z dnia {data}
      {tabela}
      table(style='width:100%; text-align: center; margin-top: 70px')
        tbody
          tr
            td {dataPodpisPracownika}
            |                 
            td {dataPodpisPracodawcy}
          |         
          tr
            td (data i podpis Pracownika)
            |                 
            td (data i podpis Pracodawcy)
