html
  body
    div(style='text-align: right') Za&lstrok;&aogon;cznik nr 5 do Zarz&aogon;dzenia Nr 219/2013 Rektora PB
    |  
    br
    br
    | {jednostka}
    br
    | (jednostka organizacyjna)
    br
    br
    br
    | {danePracownika}
    br
    | (imi&eogon; i nazwisko Pracownika)
    br
    br
    br
    | {adresPracownika}
    br
    | (adres zamieszkania Pracownika)
    br
    br
    br
    br
    br
    br
    center
      h3 EWIDENCJA PRZEBIEGU POJAZDU
      | do polecenia wyjazdu s&lstrok;u&zdot;bowgo nr {numerPolecenia} z dnia {data}
      table(border='1 solid', style='border-style: none; border-spacing: 0px; margin-top: 30px; width:100%')
        tbody
          tr
            th(style='padding-left:5px; padding-right:5px')
              | Nry
              br
              | kolejny
              br
              | wpisu
              br
            |             
            th(style='padding-left:5px; padding-right:5px')
              | Data wyjazdu
              br
            |             
            th(style='padding-left:5px; padding-right:5px')
              | Opis trasy wyjazdu
              br
              | (sk&aogon;d - dok&aogon;d)
              |                 
              br
            |             
            th(style='padding-left:5px; padding-right:5px')
              | Cel wyjazdu
              br
            |             
            th(style='padding-left:5px; padding-right:5px')
              | Liczba faktycznie
              br
              | przejechanych
              br
              | kilometrow
              br
            |             
            th(style='padding-left:5px; padding-right:5px')
              | Stawka
              br
              | za 1 kilometr
              br
              | przebiegu
              br
            |             
            th(style='padding-left:5px; padding-right:5px')
              | Warto&sacute;&cacute;
              br
            |             
            th(style='padding-left:5px; padding-right:5px') Uwagi
          |         
          tr(style='height:5px; text-align: center;')
            td 1
            |             
            td 2
            |             
            td 3
            |             
            td 4
            |             
            td 5
            |             
            td 6
            |             
            td 7
            |             
            td 8
          |         
          tr(style='height:40px')
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td(rowspan='6')
          |         
          tr(style='height:40px')
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
          |         
          tr(style='height:40px')
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
          |         
          tr(style='height:40px')
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
          |         
          tr(style='height:40px')
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
          |         
          tr(style='height:40px')
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
            |             
            td
          |         
          tr(style='height:40px')
            td(style='border:none')
            |             
            td(style='border:none')
            |             
            td(style='border:none')
            |             
            td
              b Podsumowanie
            |             
            td
            |             
            td(style='border:none')
            |             
            td
      |  
      table(style='width:100%; text-align: center; margin-top: 70px')
        tbody
          tr
            td {dataPodpisPracownika}
            |                 
            td {dataPodpisPracodawcy}
          |         
          tr
            td (data i podpis Pracownika)
            |                 
            td (data i podpis Pracodawcy)
