html
  body
    center
      h1 Wniosek wyjazdowy
    h3 Informacje dotyczące wyjeżdżającego
    center
      table(border='1', width='100%')
        tr
          td Imię i nazwisko, stopień/tytuł naukowy
          td {imie} {nazwisko}, {stopien_naukowy}
        tr
          td Kontakt (e-mail, tel.)
          td {email}, {telefon}
        tr
          td Miejsce zatrudnienia / jednostka organizacyjna
          td {miejsce_zatrudnienia_jednostka_organizacyjna} 
        tr
          td Stanowisko służbowe
          td {stanowisko_sluzbowe}
    h3 Informacje dotyczące wyjazdu
    center
      table(border='1', width='100%')
        tr
          td Cel wyjazdu
          td {cel_wyjazdu}
        tr
          td Uzasadnienie
          td {uzasadnienie}
        tr
          td Ośrodek przyjmujący, Organizator
          td {osrodek_przyjmujacy}, {organizator}
        tr
          td Kraj, miejscowość
          td {kraj}, {miejscowosc}
        tr
          td Data wyjazdu
          td {data_wyjazdu}
        tr
          td Data powrotu
          td {data_powrotu}
        tr
          td środki lokomocji
          td {srodek_lokomocji}
    h3 Informacje dotyczące kosztów wyjazdu
    center
      table(border='1', width='100%')
        tr
          td &Zacute;ródło finansowania
          td {zrodlo_finansowania}
        tr
          td Szacowany koszt (w złotych)
          td
            table(border='1', width='100%')
              tr
                td diety
                td {diety}
              tr
                td przejazd
                td {przejazd}
              tr
                td zakwaterowanie
                td {zakwaterowanie}
              tr
                td wyżywienie
                td {wyzywienie}
              tr
                td opłata konferencyjna
                td {oplata_konferencyjna}
              tr
                td inne
                td {inne}
              tr
                td łącznie
                td {lacznie}
    table(border='1', width='100%')
      tr
        td(colspan='2', align='center')
          br
          | Zobowiązuję się do rozliczenia kosztów wyjazdu w terminie 14 dni od momentu 
          | powrotu.
          br
          br
      tr
        td(align='center')
          br
          | Białystok, dnia .........................................
        td(align='center')
          br
          | ..........................................................
          br
          | (podpis Pracownika)
    br
    center
      table(border='1', width='100%')
        tr
          td(align='center')
            | Bezpośredni przełożony
            br
            br
            br
            | ..............................
            br
            | (data i podpis)
          td(align='center')
            | Kierownik pracy*/projektu*/koordynator wydziałowy*
            br
            br
            | ..............................
            br
            | (data i
            | podpis)
          td(align='center')
            | Kierownik jednostki 
            | (pod względem merytorycznym)
            br
            br
            | ..............................
            br
            | (data i podpis)
        tr
          td(align='center') Potwierdzenie &zacute;ródła finansowania
          td(colspan='2', align='center')
            br
            | .....................................................................................................
            br
            | (data i podpis)
        tr
          td(colspan='3', align='center')
            | Wyrażam zgodę na wyjazd
            | &#x206D; w ramach polecenia wyjazdu służbowego*
            | &#x206D; podnoszenie kwalifikacji zawodowych za zwrotem kosztów do wysokości* .................................. 
            br
            br
            | ..........................................................................................................................&lt;
            | br&gt;
            | (data i podpis osoby podejmującej decyzję)
            br
            br
            p(align='left') *zaznaczyć właściwe
