html
  body
    center
      h1 Wniosek wyjazdowy
    h3 Informacje dotyczące wyjeżdżającego
    center
      table(border='1', width='100%')
        tr
          td Imię i nazwisko, stopień/tytuł naukowy
          td {imie} {nazwisko}, {stopien_naukowy}
        tr
          td Kontakt (e-mail, tel.)
          td {kontakt}
        tr
          td Miejsce zatrudnienia / jednostka organizacyjna
          td {zatrudnienie} 
        tr
          td Stanowisko służbowe
          td {stanowisko}
    h3 Informacje dotyczące wyjazdu
    center
      table(border='1', width='100%')
        tr
          td Cel wyjazdu
          td {cel_wyjazdu}
        tr
          td Uzasadnienie
          td {uzasadnienie}
        tr
          td Ośrodek przyjmujący, Organizator
          td {osrodek}
        tr
          td Kraj, miejscowość
          td {kraj}, {miejscowosc}
        tr
          td Data wyjazdu
          td {data_wyjazdu}
        tr
          td Data powrotu
          td {data_powrotu}
        tr
          td środki lokomocji
          td {srodki_lokomocji}
    h3 Informacje dotyczące kosztów wyjazdu
    center
      table(border='1', width='100%')
        tr
          td Źródło finansowania
          td {zrodlo_finansowania}
        tr
          td Szacowany koszt (w złotych)
          td
            table(border='1', width='100%')
              tr
                td diety
                td {diety}
              tr
                td przejazd
                td {przejazd}
              tr
                td zakwaterowanie
                td {zakwaterowanie}
              tr
                td wyżywienie
                td {wyzywienie}
              tr
                td opłata konferencyjna
                td {oplata_konferencyjna}
              tr
                td inne
                td {inne}
              tr
                td łącznie
                td {suma}
    table(border='1', width='100%')
      tr
        td(colspan='2', align='center')
          br
          | Zobowiązuję się do rozliczenia kosztów wyjazdu w terminie 14 dni od momentu 
          | powrotu.
          br
          br
      tr
        td(align='center')
          br
          | Białystok, dnia {data_wystawienia}
        td(align='center')
          br
          | {podpis_pracownika}
          br
          | (podpis Pracownika)
    br
    center
      table(border='1', width='100%')
        tr
          td(align='center')
            | Bezpośredni przełożony
            br
            br
            br
            | {podpis_przelozony}
            br
            | (data i podpis)
          td(align='center')
            | Kierownik pracy*/projektu*/koordynator wydziałowy*
            br
            br
            | {podpis_kierownik_pracy}
            br
            | (data i
            | podpis)
          td(align='center')
            | Kierownik jednostki 
            | (pod względem merytorycznym)
            br
            br
            | {podpis_kierownik_jednostki}
            br
            | (data i podpis)
        tr
          td(align='center') Potwierdzenie źródła finansowania
          td(colspan='2', align='center')
            br
            | {podpis_decyzyjna}
            br
            | (data i podpis)
        tr
          td(colspan='3', align='center')
            | Wyrażam zgodę na wyjazd
            br
            | w ramach polecenia wyjazdu służbowego*
            br
            | podnoszenie kwalifikacji zawodowych za zwrotem kosztów do wysokości* {suma} 
            br
            br
            | {podpis_decyzyjna}
            br
            | (data i podpis osoby podejmującej decyzję)
            br
            br
            p(align='left') *zaznaczyć właściwe
