html
  body
    center
      h1 Wniosek wyjazdowy
    h3 Informacje dotycz&aogon;ce wyje&zdot;d&zdot;aj&aogon;cego
    center
      table(border='1', width='100%')
        tr
          td Imi&eogon; i nazwisko, stopie&nacute;/tytu&lstrok; naukowy
          td {imie} {nazwisko}, {stopien_naukowy}
        tr
          td Kontakt (e-mail, tel.)
          td {email}, {telefon}
        tr
          td Miejsce zatrudnienia / jednostka organizacyjna
          td {miejsce_zatrudnienia_jednostka_organizacyjna} 
        tr
          td Stanowisko s&lstrok;u&zdot;bowe
          td {stanowisko_sluzbowe}
    h3 Informacje dotycz&aogon;ce wyjazdu
    center
      table(border='1', width='100%')
        tr
          td Cel wyjazdu
          td {cel_wyjazdu}
        tr
          td Uzasadnienie
          td {uzasadnienie}
        tr
          td O&sacute;rodek przyjmuj&aogon;cy, Organizator
          td {osrodek_przyjmujacy}, {organizator}
        tr
          td Kraj, miejscowo&sacute;&cacute;
          td {kraj}, {miejscowosc}
        tr
          td Data wyjazdu
          td {data_wyjazdu}
        tr
          td Data powrotu
          td {data_powrotu}
        tr
          td &Sacute;rodki lokomocji
          td {srodek_lokomocji}
    h3 Informacje dotycz&aogon;ce koszt&oacute;w wyjazdu
    center
      table(border='1', width='100%')
        tr
          td &Zacute;r&oacute;d&lstrok;o finansowania
          td {zrodlo_finansowania}
        tr
          td Szacowany koszt (w z&lstrok;otych)
          td
            table(border='1', width='100%')
              tr
                td diety
                td {diety}
              tr
                td przejazd
                td {przejazd}
              tr
                td zakwaterowanie
                td {zakwaterowanie}
              tr
                td wy&zdot;ywienie
                td {wyzywienie}
              tr
                td op&lstrok;ata konferencyjna
                td {oplata_konferencyjna}
              tr
                td inne
                td {inne}
              tr
                td &lstrok;&aogon;cznie
                td {lacznie}
    table(border='1', width='100%')
      tr
        td(colspan='2', align='center')
          br
          | Zobowi&aogon;zuj&eogon; si&eogon; do rozliczenia koszt&oacute;w wyjazdu w terminie 14 dni od momentu 
          | powrotu.
          br
          br
      tr
        td(align='center')
          br
          | Bia&lstrok;ystok, dnia .........................................
        td(align='center')
          br
          | ..........................................................
          br
          | (podpis Pracownika)
    br
    center
      table(border='1', width='100%')
        tr
          td(align='center')
            | Bezpo&sacute;redni prze&lstrok;o&zdot;ony
            br
            br
            br
            | ..............................
            br
            | (data i podpis)
          td(align='center')
            | Kierownik pracy*/projektu*/koordynator wydzia&lstrok;owy*
            br
            br
            | ..............................
            br
            | (data i
            | podpis)
          td(align='center')
            | Kierownik jednostki 
            | (pod wzgl&eogon;dem merytorycznym)
            br
            br
            | ..............................
            br
            | (data i podpis)
        tr
          td(align='center') Potwierdzenie &zacute;r&oacute;d&lstrok;a finansowania
          td(colspan='2', align='center')
            br
            | .....................................................................................................
            br
            | (data i podpis)
        tr
          td(colspan='3', align='center')
            | Wyra&zdot;am zgod&eogon; na wyjazd
            | &#x206D; w ramach polecenia wyjazdu s&lstrok;u&zdot;bowego*
            | &#x206D; podnoszenie kwalifikacji zawodowych za zwrotem koszt&oacute;w do wysoko&sacute;ci* .................................. 
            br
            br
            | ..........................................................................................................................&lt;
            | br&gt;
            | (data i podpis osoby podejmuj&aogon;cej decyzj&eogon;)
            br
            br
            p(align='left') *zaznaczy&cacute; w&lstrok;a&sacute;ciwe
