html
  body
    b Zaliczka:
    | tytu&lstrok;em wyjazdu s&lstrok;u&zdot;bowego do
    | {miejscowosc}
    br
    br
    | termin wyjazdu: {terminwyjazdu}
    br
    br
    | termin powrotu: {terminpowrotu}
    br
    br
    table(border='1')
      tr
        td Specyfikacja:
        |     
        td Ilo&sacute;&cacute;
        |     
        td Wysoko&sacute;&cacute; nale&zdot;no&sacute;ci
        |     
        td Warto&sacute;&cacute;
      |   
      tr
        td 1. Diety
        |     
        td {dietyilosc}
        |     
        td {dietynaleznosc}
        |     
        td {dietywartosc}
      |   
      tr
        td 2. Hotele
        |     
        td {hoteleilosc}
        |     
        td {hotelenaleznosc}
        |     
        td {hotelewartosc}
      |   
      tr
        td 3. Dieta dojazdowa
        |     
        td {dojazdilosc}
        |     
        td {dojazdnaleznosc}
        |     
        td {dojazdwartosc}
      |   
      tr
        td 4. Rycza&lstrok;t za dojazdy
        |     
        td {ryczaltilosc}
        |     
        td {ryczaltnaleznosc}
        |     
        td {ryczaltwartosc}
      |   
      tr
        td 6. Bilety kolejowe
        |     
        td {biletyilosc}
        |     
        td {biletynaleznosc}
        |     
        td {biletywartosc}
      |   
      tr
        td(colspan='2') Waluta:
        |     
        td(colspan='2') Razem:
      |   
      tr
        td(colspan='2')
        td(colspan='2') Do wyp&lstrok;aty:
    b P&lstrok;atne:
    u {zrodlo}
    br
    br
    | ................
    br
    | &nbsp;&nbsp;
    sup (podpis)
