<html><body>

<h2><center>UMOWA<center></h2>
<h3><center>dotycz¹ca u¿ywania pojazdu niebêd¹cego w³asnoœci¹ pracodawcy
do celów s³u¿bowych (w jazdach zamiejscowych)<center/></h3>
zawarta w dniu: {data} <br/>
pomiêdzy Politechnika Bia³ostock¹, 15-351 Bia³ystok, ul. Wiejska 45A, reprezentowan¹ przez <br/>
{pracodawca}<br/>
zwan¹ dalej Pracodawc¹<br/>
a {pracownik},<br/>
zwanym dalej Pracownikiem.<br/>
<h3><center> § 1 </center></h3></br>
Pracownik oœwiadcza, i¿ dysponuje pojazdem: {rodzaj pojazdu}  marki</br>
{marka pojazdu} o numerze rejestracyjnym {numer rejestracyjny},</br>
o pojemnoœci silnika {pojemnoœæ silnika} cm3, którego bêdzie u¿ywa³ do podró¿y s³u¿bowej</br>
{czas i miejsce podró¿y}.
<h3><center> § 2 </center></h3></br>
1. Pracodawca, w zwi¹zku z korzystaniem przez Pracownika z pojazdu do celów s³u¿bowych,</br>
zobowi¹zuje siê do zwrotu kosztów u¿ywania w/w pojazdu w wysokoœci iloczynu przejechanych</br>
kilometrów przez stawkê {stawka za kilometr} z³/km.</br>
2. Zwrot kosztów nast¹pi na podstawie polecenia wyjazdu s³u¿bowego nr {nr wyjazdu} z dnia</br>
{data} oraz za³¹czonej ewidencji przebiegu pojazdu i niniejszej umowy.</br>
<h3><center> § 3 </center></h3></br>
1. Pracodawca nie ponosi odpowiedzialnoœci za uszkodzenia pojazdu, o którym mowa w § 1</br>
posiadanego przez pracownika (tak¿e w przypadku, gdy uszkodzenie powsta³o w czasie u¿ywania</br>
pojazdu do celów s³u¿bowych) i nie ponosi kosztów napraw bie¿¹cych, g³ównych i powypadkowych.</br>
2. Pracodawca nie odpowiada za szkody spowodowane przez Pracownika w zwi¹zku z u¿ywaniem</br>
przez Niego pojazdu, o którym mowa w § 1 do celów s³u¿bowych.</br>
<h3><center> § 4 </center></h3></br>
Umowa zosta³a zawarta na okres od dnia {data rozpoczêcia} do dnia {data zakoñczenia}
<h3><center> § 5 </center></h3></br>
Umowê sporz¹dzono w dwóch egzemplarzach, po jednym dla ka¿dej ze stron.
</br>
</br>
{data i podpis pracownika}</br>
(data i podpis pracownika)

</body></html>