<html>
<body>

    <h2><center>UMOWA<center></h2>
    <h3>
        <center>
            dotycz¹ca u¿ywania pojazdu niebêd¹cego w³asnoœci¹ pracodawcy
            do celów s³u¿bowych (w jazdach zamiejscowych)<center />
    </h3>
    zawarta w dniu {data_wystawienia} <br />
    pomiêdzy Politechnika Bia³ostock¹, 15-351 Bia³ystok, ul. Wiejska 45A, reprezentowan¹ przez <br />
    {pracodawca}<br />
    zwan¹ dalej Pracodawc¹<br />
    a {uzytkownik},<br />
    zwanym dalej Pracownikiem.
    <h3><center> § 1 </center></h3>
    Pracownik oœwiadcza, i¿ dysponuje pojazdem: {rodzaj}  marki</br>
    {marka} o numerze rejestracyjnym {numer_rejestracyjny},</br>
    o pojemnoœci silnika {pojemnosc} cm3, którego bêdzie u¿ywa³ do podró¿y s³u¿bowej</br>
    {czas} {miejsce}.
    <h3><center> § 2 </center></h3>
    1. Pracodawca, w zwi¹zku z korzystaniem przez Pracownika z pojazdu do celów s³u¿bowych,</br>
    zobowi¹zuje siê do zwrotu kosztów u¿ywania w/w pojazdu w wysokoœci iloczynu przejechanych</br>
    kilometrów przez stawkê {stawka} z³/km.</br>
    2. Zwrot kosztów nast¹pi na podstawie polecenia wyjazdu s³u¿bowego nr {id_wniosek} z dnia</br>
    {data_wniosek} oraz za³¹czonej ewidencji przebiegu pojazdu i niniejszej umowy.
    <h3><center> § 3 </center></h3>
    1. Pracodawca nie ponosi odpowiedzialnoœci za uszkodzenia pojazdu, o którym mowa w § 1</br>
    posiadanego przez pracownika (tak¿e w przypadku, gdy uszkodzenie powsta³o w czasie u¿ywania</br>
    pojazdu do celów s³u¿bowych) i nie ponosi kosztów napraw bie¿¹cych, g³ównych i powypadkowych.</br>
    2. Pracodawca nie odpowiada za szkody spowodowane przez Pracownika w zwi¹zku z u¿ywaniem</br>
    przez Niego pojazdu, o którym mowa w § 1 do celów s³u¿bowych.
    <h3><center> § 4 </center></h3>
    Umowa zosta³a zawarta na okres od dnia {data rozpoczêcia} do dnia {data zakoñczenia}
    <h3><center> § 5 </center></h3>
    Umowê sporz¹dzono w dwóch egzemplarzach, po jednym dla ka¿dej ze stron.
    </br>
    </br>
    </br>
    <div style='float:right; margin-right: 100px'>
        {podpis_pracownika}</br>(podpis pracownika)
    </div>
    <div style='float:left; margin-left: 100px'>
        {id_reprezentant}</br>(podpis reprezentanta)
    </div>
</body>
</html>