<html>
<body>
<div style="text-align: right">Za³¹cznik nr 5 do Zarz¹dzenia Nr 219/2013 Rektora PB</div>
 
<br><br>
{jednostka}<br>
(jednostka organizacyjna)
<br><br><br>
{danePracownika}<br>
(imiê i nazwisko Pracownika)
<br><br><br>
{adresPracownika}<br>
(adres zamieszkania Pracownika)
<br><br><br><br><br><br>
<center>
<h3>EWIDENCJA PRZEBIEGU POJAZDU</h3>
do polecenia wyjazdu s³u¿bowgo nr {numerPolecenia} z dnia {data}
<table border="1 solid" style="border-style: none; border-spacing: 0px; margin-top: 30px; width:100%">
    <tbody>
        <tr>
            <th style="padding-left:5px; padding-right:5px">Nry<br>kolejny<br>wpisu<br></th>
            <th style="padding-left:5px; padding-right:5px">Data wyjazdu<br></th>
            <th style="padding-left:5px; padding-right:5px">
                Opis trasy wyjazdu
                <br>(sk¹d - dok¹d)
                <br>
            </th>
            <th style="padding-left:5px; padding-right:5px">Cel wyjazdu<br></th>
            <th style="padding-left:5px; padding-right:5px">Liczba faktycznie<br>przejechanych<br>kilometrow<br></th>
            <th style="padding-left:5px; padding-right:5px">Stawka<br>za 1 kilometr<br>przebiegu<br></th>
            <th style="padding-left:5px; padding-right:5px">Wartoœæ<br></th>
            <th style="padding-left:5px; padding-right:5px">Uwagi</th>
        </tr>
        <tr style="height:5px; text-align: center;">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="6"></td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:40px">
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td><b>Podsumowanie</b></td>
            <td></td>
            <td style="border:none"></td>
            <td></td>
        </tr>
    </tbody>
</table>
 
<table style="width:100%; text-align: center; margin-top: 70px">
<tbody>
        <tr>
                <td>{dataPodpisPracownika}</td>
                <td>{dataPodpisPracodawcy}</td>
        </tr>
        <tr>
                <td>(data i podpis Pracownika)</td>
                <td>(data i podpis Pracodawcy)</td>
        </tr>
</tbody>
</center>
</table>
              
              </body>
              </html>