<center><h1>Wniosek wyjazdowy</h2></center>
<h3>Informacje dotyczące wyjeżdżającego</h3>
<center><table border="1" width=100%>
<tr>
<td>Imię i nazwisko, stopień/tytuł naukowy</td>
<td>{imie} {nazwisko}, {stopien_naukowy}</td>
</tr>
<tr>
<td>Kontakt (e-mail, tel.)</td>
<td>{email}, {telefon}</td>
</tr>
<tr>
<td>Miejsce zatrudnienia / jednostka organizacyjna</td>
<td>{miejsce_zatrudnienia_jednostka_organizacyjna} </td>
</tr>
<tr>
<td>Stanowisko służbowe</td>
<td>{stanowisko_sluzbowe}</td>
</tr>
</table></center>
<h3>Informacje dotyczące wyjazdu</h3>
<center><table border="1" width=100%>
<tr>
<td>Cel wyjazdu</td>
<td>{cel_wyjazdu}</td>
</tr>
<tr>
<td>Uzasadnienie</td>
<td>{uzasadnienie}</td>
</tr>
<tr>
<td>Ośrodek przyjmujący, Organizator</td>
<td>{osrodek_przyjmujacy}, {organizator}</td>
</tr>
<tr>
<td>Kraj, miejscowość</td>
<td>{kraj}, {miejscowosc}</td>
</tr>
<tr>
<td>Data wyjazdu</td>
<td>{data_wyjazdu}</td>
</tr>
<tr>
<td>Data powrotu</td>
<td>{data_powrotu}</td>
</tr>
<tr>
<td>Środki lokomocji</td>
<td>{srodek_lokomocji}</td>
</tr>
</table></center>

<h3>Informacje dotyczące kosztów wyjazdu</h3>

<center><table border="1" width=100%>
<tr>
<td>Źródło finansowania</td>
<td>{zrodlo_finansowania}</td>
</tr>
<tr>
<td>Szacowany koszt (w złotych)</td>
<td>
<table border="1" width=100%>
<tr><td>diety</td><td>{diety}</td></tr>
<tr><td>przejazd</td><td>{przejazd}</td></tr>
<tr><td>zakwaterowanie</td><td>{zakwaterowanie}</td></tr>
<tr><td>wyżywienie</td><td>{wyzywienie}</td></tr>
<tr><td>opłata konferencyjna</td><td>{oplata_konferencyjna}</td></tr>
<tr><td>inne</td><td>{inne}</td></tr>
<tr><td>łącznie</td><td>{lacznie}</td></tr>
</table></center>
</td>
</tr>
</table>

<table border="1" width=100%>
<tr><td colspan="2" align="center"><br>Zobowiązuję się do rozliczenia kosztów wyjazdu w terminie 14 dni od momentu powrotu.<br><br></td></tr>
<tr><td align="center"><br>Białystok, dnia .........................................</td>
<td align="center"><br>..........................................................<br>
(podpis Pracownika)
</td></tr>
</table>
<br>
<center><table border="1" width=100%>
<tr>
<td align="center">Bezpośredni przełożony<br><br><br>..............................<br>(data i podpis)</td>
<td align="center">Kierownik pracy*/projektu*/koordynator wydziałowy*<br><br>..............................<br>(data i podpis)</td>
<td align="center">Kierownik jednostki 
(pod względem merytorycznym)<br><br>..............................<br>(data i podpis)
</td>
</tr>
<tr>
<td align="center">Potwierdzenie źródła finansowania</td>
<td colspan="2" align="center"><br>.....................................................................................................<br>
(data i podpis)
</td>
</tr>
<tr>
<td colspan="3" align="center">Wyrażam zgodę na wyjazd
⁭ w ramach polecenia wyjazdu służbowego*
⁭ podnoszenie kwalifikacji zawodowych za zwrotem kosztów do wysokości* .................................. <br><br>
..........................................................................................................................<br>
(data i podpis osoby podejmującej decyzję)

<br><br><p align="left">*zaznaczyć właściwe</p>
</td>
</tr>
</table>
</center>