<html>
<body>

<b>Zaliczka:</b>
tytu³em wyjazdu s³u¿bowego do

{miejscowosc}

<br><br>
termin wyjazdu: {terminwyjazdu}<br><br>
termin powrotu: {terminpowrotu}<br><br>

<table border="1">
  <tr>
    <td>Specyfikacja:</td>
    <td>Iloœæ</td>
    <td>Wysokoœæ nale¿noœci</td>
    <td>Wartoœæ</td>
  </tr>
  <tr>
    <td>1. Diety</td>
    <td>{dietyilosc}</td>
    <td>{dietynaleznosc}</td>
    <td>{dietywartosc}</td>
  </tr>
  <tr>
    <td>2. Hotele</td>
    <td>{hoteleilosc}</td>
    <td>{hotelenaleznosc}</td>
    <td>{hotelewartosc}</td>
  </tr>
  <tr>
    <td>3. Dieta dojazdowa</td>
    <td>{dojazdilosc}</td>
    <td>{dojazdnaleznosc}</td>
    <td>{dojazdwartosc}</td>
  </tr>
  <tr>
    <td>4. Rycza³t za dojazdy</td>
    <td>{ryczaltilosc}</td>
    <td>{ryczaltnaleznosc}</td>
    <td>{ryczaltwartosc}</td>
  </tr>
  <tr>
    <td>6. Bilety kolejowe</td>
    <td>{biletyilosc}</td>
    <td>{biletynaleznosc}</td>
    <td>{biletywartosc}</td>
  </tr>

  <tr>
    <td colspan="2">Waluta:</td>
    <td colspan="2">Razem:</td>
  </tr>
  <tr>
    <td colspan="2"/>
    <td colspan="2">Do wyp³aty:</td>
  </tr>
</table>

<b>P³atne:</b><u>{zrodlo}</u>
<br>
<br>
................<br>
&nbsp;&nbsp;<sup>(podpis)</sup>

</body>
</html>